body {
	background:#fff;
	color:#333;
	font:14px/1.572 helvetica,arial,sans-serif;
	margin:0;
	padding:1em;
}

body > header {
	background:#eee;
	border-bottom:1px solid #ddd;
	margin:-1em -1em 1em;
	padding:18px;
}

body > header h1 {
	margin:0;
}